.h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia1{
   color: white;
    font-size: 20px;
    text-align: center; 
}
.h2{
   color: white;
    font-size: 40px;
    text-align: center; 
}
.Jamia2{
    color: white;
    font-size: 20px;
    text-align: center; 
  }
.h3{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia3{
    color: white;
    font-size: 20px;
    text-align: center;
      }
.h4{
    color: white;
    font-size: 40px;
    text-align: center; 
}
.Jamia4{
    color: white;
    font-size: 20px;
    text-align: center;
}

.h5{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia5{
    color: white;
    font-size: 20px;
    text-align: center;
}
.h6{
    color: white;
    font-size: 40px;
    text-align: center;
}
.Jamia6{
    color: white;
    font-size: 20px;
    text-align: center;
}